{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="/static/css/main.css">
  </head>
  <body>
    <header>
      <h1><a href="/">Snippetbox</a></h1>
    </header>
    <nav>
      <div>
       <a href="/">Home</a>
      <a href="/snippet/create">Create snippet</a>
      </div>
      <div>
        <a href="/user/signup">Signup</a>
        <a href="/user/login">Login</a>
        <form action="/user/logout" method="POST">
         <button>Logout</button> 
        </form>
      </div>
    </nav>
    <section>
      {{with .Flash}}
        <div class="flash">
          {{.}}
        </div>
      {{end}}
      {{template "body" .}}
    </section>
    {{template "footer" .}}
    <script src="/static/js/main.js"></script>
  </body>
</html>
{{end}}
