{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "body"}}
<h2>Latest Snippets</h2>
{{if .Snippets}}
  <table>
    <tr> <th>Title</th><th>Created</th><th>ID</th></tr>
    {{range .Snippets}}
      <tr>
        <td><a href="/snippet/{{.ID}}">{{.Title}}</a></td>
        <td>{{.Created | humanDate}}</td>
        <td>#{{.ID}}</td>
      </tr>
    {{end}}
  </table>
{{else}}
<p>Nothing to see just yet....</p>
{{end}}
{{end}}
